/* Coolors Exported Palette - coolors.co/272838-5d536b-5385c1-9c92a3-c6b9cd */

/* RGB */
$c_light: rgba(107, 109, 118, 1);
$c_vlight: rgba(166, 152, 136, 1);
$c_middle: rgba(83, 133, 193, 1);
$c_vdark: rgba(55, 63, 81, 1);
$c_dark: rgba(5, 5, 5, 1);
